/**
 * Swiss Black works well with with highlight.js theme
 * "hybrid.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 */

$black: #181818;
$red: #E74727;
$redDark: #DC3918;
$white: #fff;

$backgroundColor: $black;
$textColor: $white;
$primaryHighlight: $red;
$secondaryHighlight: $redDark;
 