/**
 * Swiss Blue works well with with highlight.js theme
 * "hybrid.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 */

$blue: #009DDB;
$blueDark: #007AB3;
$gray: #45474A;
$white: #f2f2f2;

$backgroundColor: $gray;
$textColor: $blue;
$primaryHighlight: $white;
$secondaryHighlight: $blueDark;
 