/**
 * Swiss Gray works well with with highlight.js theme
 * "hybrid.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 */

 $white: #f2f2f2;
 $black: #181818;
 $gray: #444;
 $grayLight: #bbb;
 
 $backgroundColor: $grayLight;
 $textColor: $black;
 $primaryHighlight: $white;
 $secondaryHighlight: $gray;
	