/**
 * Swiss White works well with with highlight.js theme
 * "hybrid.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 */

$black: #181818;
$red: #E74727;
$redDark: #DC3918;
$grayLight: #f5f5f5;

$backgroundColor: $grayLight;
$textColor: $black;
$primaryHighlight: $red;
$secondaryHighlight: $redDark;
